@import '~bootstrap/dist/css/bootstrap.css';

body {
  background-color: #aaaaaa;
  background: url(./img/koala.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



input:focus,
input:active,
button:focus,
button:active {
  box-shadow: none !important;
}

label {
  font-weight: bold;
}

a {
  color: #c70000;
}