@import '~bootstrap/dist/css/bootstrap.css';

body {
  background-color: #aaaaaa;
  background-image: url(./img/koala.jpg);
  background-size: cover;
  background-position: center;
}

input:focus,
input:active,
button:focus,
button:active {
  box-shadow: none !important;
}

label {
  font-weight: bold;
}

a {
  color: #c70000;
}